# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio
.vs/

# NuGet
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/

# Logs
*.log

# Others
*.tmp
*.bak
*.swp

# Coverage
TestResults/
coverage/
